body {


  font-family: "Lexend", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana */
  background-color: #fff;
  scroll-behavior: smooth;
}

header {
  top: 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250, 1) 26%, rgba(244, 244, 244, 1) 54%, rgba(241, 241, 241, 1) 71%, rgba(251, 251, 251, 1) 100%);
  position: fixed;
  /*LEFT NO HACE FALTA*/
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
  width: 100%;

}





.img-logo {
  width: 85px;
  transition: transform 0.3s ease;

}

.img-logo:hover {
  transform: scale(1.1);
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 57px;
}

nav ul li:first-child {
  margin-left: 0;
}









.botonMenu {
  display: none;

  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #99B2B7;
  border: 0;
  color: white;
  cursor: pointer;
}

/* Se le quita el borde azul cuando se pulsa en Chrome */
.botonMenu:focus {

  outline: none;
}

/* Cuando es pulsado, se quita el translate que lo ocultaba */
.botonMenu:focus+.principal {

  transform: translateX(0rem);
}

/* Se posiciona y se oculta con translate */
nav.principal {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 15rem;
  background-color: #7A6A53;
  transform: translateX(15rem);
  transition: 1s all;
}

/* Estilos sencillos para decorar los links */
nav.principal ul {

  margin: 0;
  padding: 0;
  list-style: none;
}

nav.principal a {

  display: block;
  color: #D5DED9;
  padding: 1rem;
  transition: .5s all;
}

nav.principal a:hover {

  text-decoration: none;
  background-color: #948C75;
}











.item-header {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 18px;
  /*tamaño letra header*/
  font-weight: bold;
  /*letra negrita header*/
  font-family: "Seymour One", sans-serif;
  /*tipografía para el header*/
  word-spacing: 10px;
  /*espaciado entre palabras*/

}

.item-header:hover {
  color: #ff3b55;
}

.parte-izqda{
  display: flex;
  justify-content: space-between;
  padding-right: 95px;
  margin-left: 65px;
}

.parte-dcha {
  display: flex;
  align-items: center;
  color: #000000;

  width: calc(100% - 105px);

}

.parte-norm-dcha {
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.parte-guay-dcha {
  margin-right: 50px;
  
  display: flex;
  width: 40%;
  justify-content: space-around;

}

.custom-boton {
  font-family: "Seymour One", sans-serif;
  background-color: #ffd5d5;
  color: #ff3b55;
  border: none;
  padding: 18px 20px;
  font-size: 16px;
  border-radius: 0px 25% 0px 25%;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-decoration: none;
  display: flex; /* Usa flexbox */
  text-align: center;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
}

.custom-boton:hover {
  font-family: "Seymour One", sans-serif;
  background-color: #ffeff1;
  color: #000000;
  font-weight: bold;

}

.custom-boton2 {
  font-family: "Seymour One", sans-serif;
  background-color: #ff3b55;
  color: #ffffff;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 25px 0% 25px 0%;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-decoration: none;
  display: flex; /* Usa flexbox */
  text-align: center;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
}

.custom-boton2:hover {
  font-family: "Seymour One", sans-serif;
  background-color: #ff8795;

  color: #000000;
  font-weight: bold;
}











/* Estilos para el botón hamburguesa */
.dropbtn {
  display: none;
  background-color: transparent;
  /* Hacemos el fondo transparente */
  border: none;
  /* Eliminamos el borde */
  padding: 0;
  /* Eliminamos el relleno para que las líneas queden bien alineadas */
  cursor: pointer;
}

.dropbtn .bar {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #000000;
  margin: 4px auto;
  /* Espaciado entre las barras */
}

/* Cambiamos el color de las barras al pasar el mouse */
.dropbtn:hover .bar {
  background-color: brown;
}

/* Estilos para el menú desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  /* Ocultamos el menú por defecto */
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  right: 0;
  /* Posicionamos el menú a la derecha */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}










/* Estilos para el botón hamburguesa */
.dropbtn {
  display: none;
  background-color: transparent;
  /* Hacemos el fondo transparente */
  border: none;
  /* Eliminamos el borde */
  padding: 0;
  /* Eliminamos el relleno para que las líneas queden bien alineadas */
  cursor: pointer;
}

.dropbtn .bar {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #000000;
  margin: 4px auto;
  /* Espaciado entre las barras */
}

/* Cambiamos el color de las barras al pasar el mouse */
.dropbtn:hover .bar {
  background-color: brown;
}

/* Estilos para el menú desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  /* Ocultamos el menú por defecto */
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  right: 0;
  /* Posicionamos el menú a la derecha */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}













.cuerpo-web {
  margin-top: 95px;



}

/*INICIO CARRUSEL GRANDE*/
.carousel-inner .overlay-text {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  text-align: left;
  color: white;
  max-width: 50%;
}

.carousel-inner .text-small {
  font-size: 1.0em;
  letter-spacing: 2px;
  font-weight: lighter;
  text-transform: uppercase;
}

.carousel-inner h2 {
  font-size: 4.8em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.carousel-inner p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.carousel-inner .buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.carousel-inner .btn {
  margin-bottom: 10px;
  font-size: 1.2em;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-inner .btn-primary {
  background-color: #000;
  /* Cambia a tu color primario */
  color: white;
}

.carousel-inner .btn-danger {
  background-color: #D50000;
  /* Cambia a tu color de alerta o acción */
  color: white;
}

.carousel-inner .btn:hover {
  background-color: darken(#D50000, 10%);
  /* Añade un efecto al pasar el cursor */
}

#miCarrusel {
  position: relative;
}

.carousel-item {
  position: relative;
  text-align: center;
}

.carousel-item::before {
  content: "";
  /* Esto es necesario para que el pseudo-elemento se muestre */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.534);
  /* Tu color de fondo */
}

/*H4 DEL CARRUSEL*/


.h4-carr {

  font-weight: inherit;
  letter-spacing: 1px;
}

.h2-carr {
  font-weight: bold;
  font-family: "Seymour One", sans-serif;
  
}

.carousel-image {
  width: 100%;
  height: 845px;
  /* Altura fija para las imágenes */
  object-fit: cover;
  /* Esto asegura que la imagen cubra el área sin distorsionarse */
}

.our-menu{
  text-decoration: none; /* Quita el subrayado */
 
  color: #ffffff;
  
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  margin-left: 2px;
  margin-right: 8px;
}
.our-menu:hover {
  color: #ffffff;
  background-color: #ff3b55;
  text-align: center;
  align-items: center;
  justify-content: center;
 
  
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 25px 0% 25px 0%;
    
}










/*SECCIÓN PROMO MENU */
.promo-section {
  display: flex;
  align-items: stretch;
  /* Asegura que ambos divs tengan la misma altura */
  height: 65vh;
  /* Ajusta la altura total de la sección a la mitad de la altura de la ventana */
  background: rgb(254, 254, 254);
  background: radial-gradient(circle, rgba(254, 254, 254, 1) 0%, rgba(250, 250, 250, 1) 5%, rgba(249, 249, 249, 1) 16%, rgba(247, 247, 247, 1) 30%, rgba(231, 231, 231, 1) 48%, rgba(224, 224, 224, 1) 62%, rgba(212, 212, 212, 1) 100%);
  
}

.promo-image,
.promo-content {

  display: flex;
  justify-content: center;
  align-items: center;

}

.promo-image {
  width: 45%;
  background-size: contain;
  /* Asegura que la imagen esté contenida completamente dentro del div */
  overflow: hidden;
  /* Oculta cualquier parte de la imagen que exceda el contenedor */
  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;


}

.ready-txt{
  font-family: "Seymour One", sans-serif;
}

.img-carta-sec {

  display: block;
  width: 100%;
  height: auto;
}



.promo-content {
  width: 55%;
  flex-direction: column;
  /* Organiza el contenido en una columna vertical */
  text-align: center;
  /* Centra el texto horizontalmente */
  padding: 1rem;
  /* Añade un poco de espacio alrededor del contenido */
}

.txt-promo {
  padding-bottom: 40px;

}






/*VENTANA EMERGENTE PARA EL CARRUSEL DESLIZANTE*/
.ventana-emergente {
  position: fixed;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  z-index: 9999;
  pointer-events: none;
  width: auto; /* Ancho automático para adaptarse al contenido */
  max-width: 300px; /* Ancho máximo para evitar que la ventana se vuelva demasiado ancha */
  height: auto; /* Altura automática para adaptarse al contenido */
  max-height: 400px; /* Altura máxima para evitar que la ventana se vuelva demasiado alta */
  
  
}

[data-title] {
  font-family: 'Seymour One', sans-serif;
}

#ventanaEmergente.ventana-emergente{
size: 200px;
}
.h3-txtxxxxxx{
  font-family: "Seymour One", sans-serif;
}











/*TEXTO PRE-CARRUSEL*/
.container-carrusel222 {

  
  background-image: url("../IMG/img-fondo-carr-desl.jpg");
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  
  


}
.cont-txt-pre-carrusel{
padding-top: 110px;
color: #000000;
font-weight: bold;


}




/*CARRUSEL DESLIZABLE TOCHO*/
.carousel {
  display: flex;
  overflow: hidden;
  cursor: grab;
  width: 100%;
  cursor: pointer;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.305);

}



.img-carrusel222 {
  min-width: 20%;
  transition: transform 0.3s ease;
  /* Transición suave */
  align-self: center;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 3));
  
  

}

.img-carrusel222:hover {
  transform: scale(1.1);
  /* Escala de 1.1 cuando el cursor está sobre la imagen */
  filter: drop-shadow(6 4px 12px rgba(0, 0, 0, 6))
}





/*PARTE FORMULARIO SECCION*/


.comunidad-burger {
  background: radial-gradient(circle, rgba(254, 254, 254, 1) 0%, rgba(250, 250, 250, 1) 5%, rgba(249, 249, 249, 1) 16%, rgba(247, 247, 247, 1) 30%, rgba(231, 231, 231, 1) 48%, rgba(224, 224, 224, 1) 62%, rgba(212, 212, 212, 1) 100%);
}

.titulo {
  text-align: center;
  padding-top: 70px;
  font-weight: bolder;
  font-family: "Seymour One", sans-serif;
}

.contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  
  background: linear-gradient(0deg, rgb(255, 59, 85) 0%,rgb(255, 59, 85) 5%,rgb(255, 59, 85) 6%, rgb(255, 59, 85) 8%, rgb(255, 59, 85) 10%, rgba(255, 59, 85, 0) 13%, rgba(255, 59, 85, 0) 15%, rgba(255, 59, 85, 0) 18%, rgba(255, 59, 85, 0) 20%, rgba(255, 59, 85, 0) 23%,rgba(255, 59, 85, 0) 27%, rgba(255, 59, 85, 0) 30%, rgba(255, 59, 85, 0) 35%, rgba(255, 59, 85, 0) 40%, rgba(255, 59, 85, 0) 45%, rgba(255, 59, 85, 0) 50%, rgba(255, 59, 85, 0) 60%, rgba(255, 149, 163, 0) 70%, rgba(252, 209, 215, 0) 80%, rgba(255, 59, 85, 0) 95%, rgba(255, 59, 85, 0) 100%);
  padding-bottom: 180px;
}

.texto-izquierda {
  flex: 1;
  margin: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.formulario-derecha {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 80px;
  border-radius: 40px;
  
  background: rgb(255,97,115);
  background: radial-gradient(circle, rgba(255,97,115,1) 0%, rgba(255,59,85,1) 100%);
}

.tex {
  width: 100%;
  font-size: 20px;
  
}

.for-fin {
  width: 70%;
  margin: 0 auto; /* Para centrar el formulario horizontalmente */
  font-size: 16px;
  
  padding-bottom: 10px;
 
  
}

.form-group {
  font-size: 18px;
  margin-bottom: 15px;
}
.form-group-3{
  display: flex;
  align-items: center;
}

.checkboxx{
  margin-right: 20px;
  margin-bottom: 33px;
  
}
.movidass{
  font-weight: bolder;
  padding: 0px;
  margin-top: 18px;
  
}

.politica-txt{
font-weight: normal;
margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="checkbox"],

.boton-form {
  width: calc(100% - 4px); /* Ajustar el ancho para dejar espacio para el borde */
  padding: 8px; /* Reducir el tamaño del relleno */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px; /* Reducir el tamaño de la fuente */
  margin-top: 10px;
  border: #000;

  border-radius: 40px;
 
}

.boton-form{
  background-color: #ffd5d5;
  color: white;
  cursor: pointer;
  font-family: "Seymour One", sans-serif;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
  color: #ff3b55;
}

.boton-form:hover {
  background-color: #f8d7dc;
  color: #D50000;

}










/*VIDEO FINAL PUBLICITARIO*/
.video-section {
  position: relative;
  width: 100%;
  height: 115vh; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.534);
  
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  
  
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, rgb(255, 59, 85) 0%,rgba(255, 59, 85, 0.986) 5%, rgba(255, 59, 85, 0.918) 8%, rgba(255, 59, 85, 0.842) 10%, rgba(255, 59, 85, 0.74) 13%, rgba(255, 59, 85, 0.664) 15%, rgba(255, 59, 85, 0.541) 18%, rgba(255, 59, 85, 0.486) 20%, rgba(255, 59, 85, 0.36) 23%,rgba(255, 59, 85, 0.281) 27%, rgba(255, 59, 85, 0.168) 30%, rgba(255, 59, 85, 0.092) 35%, rgba(255, 59, 85, 0) 40%, rgba(255, 59, 85, 0) 45%, rgba(255, 59, 85, 0) 50%, rgba(255, 59, 85, 0) 67%, rgba(255, 59, 85, 0.066) 70%, rgba(255, 59, 85, 0.779) 85%,  rgb(255, 59, 85) 95%, rgb(255, 59, 85) 100%);

}

.overlay-image {
  margin-top: 120px;
  width: 500px;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 1, 3));

  /* Ajusta la posición, tamaño y cualquier otro estilo necesario para la imagen superpuesta */
  
}












/*VENTANA EMERGENTE PARA PEDIDOS*/
.emergente-pedido {
  position: fixed;
  top: 50%;
  left: -300px;
  width: 290px;
  height: 100px;
  background-color: #ff3b55;
  border-radius: 0px 0% 25px 0%;
  transition: 0.5s;
  z-index: 1;
}

.emergente-pedido-content {
  padding: 20px;
}

.close {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.main-content {
  height: 2000px;
}

.custom-boton3 {
  font-family: "Seymour One", sans-serif;
  background-color: #ff3b55;
  color: #ffffff;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 0px 0% 25px 0%;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.custom-boton3:hover {
  background-color: #ff8795;
  color: #000000;
  font-weight: bold;
}























footer {
  background-color: #ffffff00;
  color: #000000;
  align-items: center;
  text-align: center;
  margin-top: auto;
  /* Coloca el footer al final de la página */

}

.link-chorra {
  text-decoration: none;
  color: #ff3b55;
}

.link-chorra:hover {
  color: #ff94a0;
}

footer p {
  margin: 0;
  font-size: 15px;
}


.letra-redes {
  color: #f4eeee;
  text-align: center;

  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 14px;
  /*tamaño letra header*/

  font-family: "Seymour One", sans-serif;
  /*tipografía para el header*/
  word-spacing: 10px;
  /*espaciado entre palabras*/

}

.redes-footer {
  align-items: center;
  padding-top: 80px;
  background: rgb(255, 59, 85);
  

  
}

.redes {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 40px;
  background: rgb(255, 59, 85);
  transition: transform 0.3 ease;

}
.redes :hover {
  transform: scale(1.05);
}


.social-img {
  margin: 25px;
  /* Ajusta el espacio entre cada icono */
  justify-content: center;
}

.social-img img {
  width: 37px;
  /* Ajusta el tamaño de los iconos */
  height: auto;
  justify-content: center;
}




.footer-links {
  padding-bottom: 12px;
  justify-content: space-around;
  align-items: center;
  word-spacing: 2px;


  margin: 0 auto;
  background: #ff3b55;

}

.contenedor-links {

  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  display: flex;
  max-width: 700px;
  width: 100%;
  word-spacing: 100px;
}

.item-footer {
  color: #f4eeee;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-bottom: 10px;
  font-size: 10px;
  /*tamaño letra footer*/

  font-family: "Seymour One", sans-serif;
  /*tipografía para el footer*/
  word-spacing: 4px;
  /*espaciado entre palabras*/


}

.item-footer:hover {
  color: #ffd5d5;
}

.img-logo-footer {
  width: 115px;

}

.img-fin {
  justify-content: space-around;
  background: rgb(255, 59, 85);
  align-items: center;
  padding-top: 0x;
  align-items: center;
  padding-bottom: 30px;

}


.pt-abajo-footer {
  font-family: "Lexend", sans-serif;
  color: #f4eeee;
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: 12px;
  word-spacing: 2px;
  background-color: #000000;
}







/*responsive*/

@media (max-width:450px) {

  header {

    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;


    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250, 1) 26%, rgba(244, 244, 244, 1) 54%, rgba(241, 241, 241, 1) 71%, rgba(251, 251, 251, 1) 100%);
    position: relative;
    padding-left: 80px;
    padding-right: 60px;
    width: 100%;

  }

  .contenedor-links {

    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    display: flex;
    max-width: 700px;
    width: 100%;
    word-spacing: 100px;
    display: inline-grid;
  }

  .img-logo {
    margin-left: -40px;
    width: 85px;

  }


  .letra-redes {
    margin-left: 20px;
    margin-right: 20px;
  }

.parte-izqda{
  margin-right: 125px;
}
  .parte-dcha {
    display: none;
    align-items: center;
    color: #000000;
    padding: 10px;
    width: calc(100% - 105px);
    margin-right: 60px;


  }

  .item-header {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 6px;
    /*tamaño letra header*/
    font-weight: bold;
    /*letra negrita header*/
    font-family: "Seymour One", sans-serif;
    /*tipografía para el header*/
    word-spacing: 10px;
    /*espaciado entre palabras*/
  }










  .ready-txt{
    font-family: "Seymour One", sans-serif;
    font-size: 21px;
  }






  .cuerpo-web {
    margin-top: 5px;



  }


.texto-izquierda{
  display:none;
}







































  .item-footer {
    color: #f4eeee;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-bottom: 10px;
    font-size: 8px;
    /*tamaño letra footer*/

    font-family: "Seymour One", sans-serif;
    /*tipografía para el footer*/
    word-spacing: 4px;
    /*espaciado entre palabras*/


  }

  .botonMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    position: static;
    top: 1rem;
    right: 1rem;
    background-color: #99B2B7;
    border: 0;
    color: white;
    cursor: pointer;
  }

  /* Se le quita el borde azul cuando se pulsa en Chrome */
  .botonMenu:focus {
    outline: none;
  }

  /* Cuando es pulsado, se quita el translate que lo ocultaba */
  .botonMenu:focus+.principal {
    transform: translateX(0rem);
  }

  /* Se posiciona y se oculta con translate */
  nav.principal {

    top: 0;
    right: 0;
    bottom: 0;
    width: 15rem;
    background-color: #7A6A53;
    transform: translateX(15rem);
    transition: 1s all;
  }

  /* Estilos sencillos para decorar los links */
  nav.principal ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav.principal a {
    display: block;
    color: #D5DED9;
    padding: 1rem;
    transition: .5s all;
  }

  nav.principal a:hover {
    text-decoration: none;
    background-color: #948C75;
  }










  /* Estilos para el botón hamburguesa */
  .dropbtn {
    display: contents;
    background-color: transparent;
    /* Hacemos el fondo transparente */
    border: none;
    /* Eliminamos el borde */
    padding: 0;
    /* Eliminamos el relleno para que las líneas queden bien alineadas */
    cursor: pointer;
  }

  .dropbtn .bar {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #000000;
    margin: 4px auto;
    /* Espaciado entre las barras */
  }

  /* Cambiamos el color de las barras al pasar el mouse */
  .dropbtn:hover .bar {
    background-color: rgb(255, 59, 85);
  }

  /* Estilos para el menú desplegable */
  .dropdown {

    position: relative;
    display: inline-block;

  }

  .dropdown-content {
    display: none;
    /* Ocultamos el menú por defecto */
    position: absolute;
    background: rgb(110, 110, 110);
    background: radial-gradient(circle, rgba(110, 110, 110, 1) 0%, rgba(51, 51, 51, 1) 64%, rgba(0, 0, 0, 1) 100%);
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
    right: 0;
    /* Posicionamos el menú a la derecha */
  }

  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 16px 20px;
    display: block;
    font-family: "Seymour One", sans-serif;
    font-size: 11px;
    word-spacing: 3px;
    margin: 10px;

  }

  .dropdown-content a:hover {
    background-color: rgb(255, 59, 85);
  }

  .dropdown:hover .dropdown-content {
    display: block;
    /* Mostramos el menú al hacer hover */
  }

  #closeBtn {
    display: block;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;
  }

  #closeBtn:hover {
    background-color: rgb(255, 59, 85);
  }

}

