html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
 
}
.sobre-el-producto {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
}

.imagen-producto-detalles {
    width: 50%;
    height: auto;
    cursor: pointer;
}
.imagen-contador-producto-detalles{
    cursor: pointer;
}

.info-producto-detalles {
    width: 50%;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-producto-detalles {
    color: #fff;
    font-size: 400%;
    margin-bottom: 10px;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(255, 0, 0);
}

.precio-producto-detalles {
    color: #fff;
    text-align: center;
    font-size: 250%;
    font-size: bold;
}

.descripcion-producto-detalles {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.logos-alergenos img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    justify-content: center;
}

.botones-producto-detalles {
    display: flex;
    flex-direction: column;
}

.contador-producto-detalles {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: auto;
    justify-content: center;  
  }

.contador-producto-detalles img {
    width: 20px;
    height: 20px;
}

.descuento-producto-detalles {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.enviar-descuento-detalles,
.boton-realizar-compra-detalles,
.boton-seguir-comprando-detalles {
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.enviar-descuento-detalles, .boton-realizar-compra-detalles,
.boton-seguir-comprando-detalles {
    background-color: #ff5252;
    font-weight: bold;
    color: #fff;
}
.footer {
    background-color: rgb(214, 47, 47);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}

.nombre-footer {
    text-align: center;
    flex-grow: 1;
    font-family: 'Jersey 25', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.redes-footer {
    display: flex;
    align-items: center;
}

.redes-footer a {
    margin-left: 30px;
}

.politicas-footer {
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-left: 40px;
}

.politicas-footer a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

.iconos-footer {
    width: 25px;
    height: 25px;
}


@media only screen and (max-width: 768px) {
    .sobre-el-producto {
        flex-direction: column;
    }

    .imagen-producto-detalles {
        width: 100%;
    }

    .info-producto-detalles {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }

    .titulo-producto-detalles {
        text-align: center;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .redes-footer {
        margin-left: 0;
        margin-top: 20px;
    }

    .redes-footer a {
        margin: 0 10px;
    }
}

